/*Theme_test*/
@import clear.sass

!base= blue
!yellow = yellow
!bgcolor = #fff
!color = #fff
!body = #000
!gray = #666
!green = green
!red = rgb(204, 0, 0)
!orange = #ddd

!basehover = !base - #333
!baseactive = !base - #666

!linkcolor = !base
!resultbg = !bgcolor
!resultfont = !color
!resultborder = !base


body
  font-family: Helvetica, sans-serif
  color= !body
  top: 0px
  padding: 0px
  margin: 0px
  background-color= !bgcolor
  text-align: left
  font-size: 14px
  line-height: 18px
  
a
  text-decoration: underline
  color= !basehover
  &:hover
    text-decoration: underline
    color= !base
  &:active
    color= !baseactive

strong
  font-weight: bold
    
#header
  background-color= !yellow
  border-bottom: 4px gray solid
  padding: 30px 0px 30px 0px
  
  #title
    float: left
    font-size: 70px
    color= black
    font-weight: bold
    //padding: 10px 
    margin: 20px
    a
      text-decoration: none
      color= black
    
  #searchbox 
    input
      height: 28px
      font:
        size: 28px
      border:
        width: 3px
        style: solid
        color= !gray
      padding: 8px
      &:hover
        border-color= black
      background-color= !bgcolor
    #searchbutton
      background-color= !red
      color= !bgcolor
      border-color= black    
      padding: 0px 8px 0px 8px
      margin: 5px 5px 5px 5px
      height: 50px
      &:active
        background-color= !red - #205
      &:hover
        background-color= !red - #205
    
#results
  clear: both
  background-color= !resultbg
  margin: 0px
  padding: 0px
  
  #resultads
    float: right
  
  #resultheader
    padding: 2px 2px 4px 10px
    background-color: #ddd
    color: #333
    margin-bottom: 5px
    
  ul
    list-style-type: none
    padding: 0px
    margin: 0px
    
  .result
    width: 890px
    background-color= !resultbg
    padding: 15px 0px 10px 20px
    margin: 0px
    overflow: auto
    text-align: left
  
    .resultimg
      width: 120px
      height: 90px
      margin: 0px
      float: left
      border: 1px gray solid
  
    .resultinfo
      display:block
      margin-left: 135px
      h3
        font-size: 16px
    
      .dateproduced
        font-size: smaller
        color= !gray
  
      .runtime
        font-size: smaller
        color= !gray
  
      .channel a
        color= !green
  
      .tags
        font-style: italic
        font-size: smaller
        a
          color= !gray
        li
          clear: left
  
      .vid
        font-size: 12px
        color= !orange
  
  #resultpages
    text-align: center
    
  #resultads
    display: none

#topbar
  background-color= black
  height: 5px
  &:hover
    background-color= !red
    
#footer
  text-align: center
  padding: 20px 0px 20px 0px
  clear: both
  font-size: 12px
  color= !orange
  a
    color= !orange
  .heart
    color= !red + #aaa
    font-size: smaller
  